.canard-wc {
  background-color: #4095bf;
}

.jaune-vomi {
  background-color: #bfaa40;
}

.turquoise-chelou {
  background-color: #40bf80;
}

.orange-sanguine {
  background-color: #bf5540;
}

.vert-pomme {
  background-color: #6abf40;
}

.mais-parce-que {
  background-color: #bf6a40;
}

.jaune-vert {
  background-color: #aabf40;
}

.violet {
  background-color: #bf40bf;
}

@media screen and (min-width: 0) {
  .hh-5 {
    height: 5% !important;
  }
  .hh-10 {
    height: 10% !important;
  }
  .hh-15 {
    height: 15% !important;
  }
  .hh-20 {
    height: 20% !important;
  }
  .hh-25 {
    height: 25% !important;
  }
  .hh-30 {
    height: 30% !important;
  }
  .hh-35 {
    height: 35% !important;
  }
  .hh-40 {
    height: 40% !important;
  }
  .hh-45 {
    height: 45% !important;
  }
  .hh-50 {
    height: 50% !important;
  }
  .hh-55 {
    height: 55% !important;
  }
  .hh-60 {
    height: 60% !important;
  }
  .hh-65 {
    height: 65% !important;
  }
  .hh-70 {
    height: 70% !important;
  }
  .hh-75 {
    height: 75% !important;
  }
  .hh-80 {
    height: 80% !important;
  }
  .hh-85 {
    height: 85% !important;
  }
  .hh-90 {
    height: 90% !important;
  }
  .hh-95 {
    height: 95% !important;
  }
  .hh-100 {
    height: 100% !important;
  }
}
@media screen and (min-width: 576px) {
  .hh-sm-5 {
    height: 5% !important;
  }
  .hh-sm-10 {
    height: 10% !important;
  }
  .hh-sm-15 {
    height: 15% !important;
  }
  .hh-sm-20 {
    height: 20% !important;
  }
  .hh-sm-25 {
    height: 25% !important;
  }
  .hh-sm-30 {
    height: 30% !important;
  }
  .hh-sm-35 {
    height: 35% !important;
  }
  .hh-sm-40 {
    height: 40% !important;
  }
  .hh-sm-45 {
    height: 45% !important;
  }
  .hh-sm-50 {
    height: 50% !important;
  }
  .hh-sm-55 {
    height: 55% !important;
  }
  .hh-sm-60 {
    height: 60% !important;
  }
  .hh-sm-65 {
    height: 65% !important;
  }
  .hh-sm-70 {
    height: 70% !important;
  }
  .hh-sm-75 {
    height: 75% !important;
  }
  .hh-sm-80 {
    height: 80% !important;
  }
  .hh-sm-85 {
    height: 85% !important;
  }
  .hh-sm-90 {
    height: 90% !important;
  }
  .hh-sm-95 {
    height: 95% !important;
  }
  .hh-sm-100 {
    height: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .hh-lg-5 {
    height: 5% !important;
  }
  .hh-lg-10 {
    height: 10% !important;
  }
  .hh-lg-15 {
    height: 15% !important;
  }
  .hh-lg-20 {
    height: 20% !important;
  }
  .hh-lg-25 {
    height: 25% !important;
  }
  .hh-lg-30 {
    height: 30% !important;
  }
  .hh-lg-35 {
    height: 35% !important;
  }
  .hh-lg-40 {
    height: 40% !important;
  }
  .hh-lg-45 {
    height: 45% !important;
  }
  .hh-lg-50 {
    height: 50% !important;
  }
  .hh-lg-55 {
    height: 55% !important;
  }
  .hh-lg-60 {
    height: 60% !important;
  }
  .hh-lg-65 {
    height: 65% !important;
  }
  .hh-lg-70 {
    height: 70% !important;
  }
  .hh-lg-75 {
    height: 75% !important;
  }
  .hh-lg-80 {
    height: 80% !important;
  }
  .hh-lg-85 {
    height: 85% !important;
  }
  .hh-lg-90 {
    height: 90% !important;
  }
  .hh-lg-95 {
    height: 95% !important;
  }
  .hh-lg-100 {
    height: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
